@import '../../styles/global';

.hamburger {
  position:fixed;
  width: 100%;
  height: 140px;
  background-image: linear-gradient(120deg, #f6d465 0%, #fd9f85 100%);
  // background-color: #f6d465;
  z-index: 9;
  border-radius: 0px 0px 50px 70px;
  flex-direction: column;
  // box-shadow:0 0 10px 10px #f6d465;

}
$drop-size: 120px;
$num-drops: 3;

$water-color: #fff;
$bg-color: #EF5350;

$drop-time: 1.5s;
.water {
  z-index: -1;
  background: linear-gradient(120deg, #f0da9386 0%, #fd9f8563 100%);
  width: 100%;
  height: 20%;
  border-radius: 0px 0px 70px 70px;
  position: fixed;
  top: 0;
  
  filter: url(#goo);
  &::before {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 500%;
  }
  
}
.drop {
  background: inherit;
  width: $drop-size;
  height: $drop-size;
  position: absolute;
  left: 100px;
  top: 500%;
  transform: translateX(-50%) rotate(45deg); // 定位位置與角度

  animation: drop $drop-time*2 ease-in infinite;
  
  @for $i from 1 to $num-drops+1 {
    &:nth-child(#{$i}) {
      width: $drop-size * (-1/($num-drops+1) * ($i - 1) + 1);
      height: $drop-size * (-1/($num-drops+1) * ($i - 1) + 1);
      animation-delay: $i * $drop-time * 0.75/$num-drops;
    }
  }
}

@keyframes drop {
  // 時間從0到100%要做的事情
  0% { top: 0; transform:rotate(0deg);}
  50% { top: 0; }
  100% { top: 500%; transform:rotate(270deg);}
}

.container {
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  

  @media (max-width: 767px) {
    height: 30px;
    width: 30px;
    right: 8.05%;
  }

  @media (min-width: 768px) {
    height: 36px;
    width: 36px;
    right: 7.03125%;
  }

  .bar,
  .bar::before,
  .bar::after {
    display: block;
    border-radius: 6px;
    background-color: #aa3616;
    transition: 0.25s all;

    @media (max-width: 767px) {
      height: 5.5px;
    }

    @media (min-width: 768px) {
      height: 6px;
    }
  }
  .bar::before,
  .bar::after {
    content: "";
  }
  .bar {
    @media (max-width: 767px) {
      width: calc(10px * 2);
    }

    &::before {
      @media (max-width: 767px) {
        width: calc(10px * 3);
        transform: translateY(-12px);
      }
      @media (min-width: 768px) {
        width: calc(12px * 3);
        transform: translateY(-15px);
      }
    }
    &::after {
      @media (max-width: 767px) {
        width: calc(10px * 1);
        transform: translateY(7px);
      }
      @media (min-width: 768px) {
        transform: translateY(9px);
      }
    }

    &.active {
      background: transparent;
      &::before {
        transform: translateX(-3px) translateY(0px) rotate(-135deg);

        @media (max-width: 767px) {
          width: calc(12px * 3);
        }

        @media (min-width: 768px) {
          width: calc(14px * 3);
        }
      }
      &::after {
        transform: translateX(-2px) translateY(-6px) rotate(135deg);

        @media (max-width: 767px) {
          width: calc(12px * 3);
        }

        @media (min-width: 768px) {
          width: calc(14px * 3);
        }
      }
    }
  }
}