@import '../../styles/global';
@font-face {
  font-family: "Sucrose Bold Two";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2") format("woff2");
}
@font-face {
  font-family: "IM Fell French Canon Pro";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/im-fell-french-canon-pro.woff2") format("woff2");
}

.banner {
  z-index: 100;
  margin-bottom: 100px;
  .banner_img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    margin-top: -20%;
  }
  
  @media screen and (max-width: 970px) {
    width: 1100px;
  }
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    right:0px;
    width:700px;
    height:0;
    border-width:0 0px 700px 200px;
    border-style:none solid solid;
    border-color:transparent transparent #fad0c4;
    // background-image:linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }

  &::after {
    z-index: -2;
    border-color:transparent transparent #be6046;
    width:800px;
    border-width:0 0px 800px 300px;

  }
}