@import '../styles/global';

.wrapper {
  padding-top: 96px;
  @media screen and (max-width: 767px) {
    padding-top: 72px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 960px) {
    padding-top: 88px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 95px;
  }
}
.wrappeInner {
  @media screen and (max-width: 767px) {
    padding: 0 28px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 82px;
  }
  @media all and (min-width: 960px) {
    padding: 0 45px;
  }
  @media screen and (min-width: 1170px) {
    padding: 0 64px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 160px;
  }
  @media screen and (min-width: 1920px) {
    padding: 0;
    width: 1493px;
    margin: auto;
  }
}

.main {
  position: relative;
  z-index: 0;
  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 70px 0;
  }
  @media screen and (min-width: 1920px) {
    padding: 62px 0 75px;
    width: 1493px;
    margin: auto;
  }
}
.hasAside {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  @media all and (max-width: 959px) {
    width: 100%;
  }
  @media all and (min-width: 960px) {
    width: calc(100% - 300px - 4px);
    padding-left: 64px;
  }
  @media all and (min-width: 1280px) {
    width: calc(100% - 370px - 4px);
  }
  @media all and (min-width: 1920px) {
    width: calc(100% - 414px - 4px);
  }
}
.wholePage {
  border-radius: 10px;
  border: 1px solid #ffffff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 767px) {
    padding: 13px 12px 34px;
    background: linear-gradient(
      to bottom,
      rgba(239, 239, 239, 1) 0%,
      rgba(255, 255, 255, 0.6) 30px,
      rgba(255, 255, 255, 0.6) 100%
    );
  }
  @media screen and (min-width: 768px) {
    padding: 25px 40px 50px;
    background: linear-gradient(
      to bottom,
      rgba(239, 239, 239, 1) 0%,
      rgba(255, 255, 255, 0.6) 40px,
      rgba(255, 255, 255, 0.6) 100%
    );
  }
  @media screen and (min-width: 960px) {
    padding: 25px 90px 50px;
  }
  @media screen and (min-width: 1440px) {
    padding: 45px 145px 93px;
    background: linear-gradient(
      to bottom,
      rgba(239, 239, 239, 1) 0%,
      rgba(255, 255, 255, 0.6) 60px,
      rgba(255, 255, 255, 0.6) 100%
    );
  }
}
.halfPage {
  composes: wholePage;
  @media all and (min-width: 960px) {
    padding: 50px 30px;
  }
  @media screen and (min-width: 1440px) {
    padding: 25px 50px 93px;
  }
}
.text {
  line-height: 1.8;
  font-weight: 300;
  
  @media all and (max-width: 767px) {
    font-size: 1rem;
    margin-top: 20px;
  }
  @media all and (min-width: 768px) {
    font-size: 1.125rem;
    margin-top: 25px;
  }
  @media all and (min-width: 1280px) {
    font-size: 1.25rem;
    margin-top: 16px;
  }

  h3 {
    @media all and (max-width: 767px) {
      font-size: 1.75rem;
    }
    @media all and (min-width: 768px) {
      font-size: 2rem;
    }
    @media all and (min-width: 1280px) {
      font-size: 2.5rem;
    }
  }
  div, p {
    @media all and (max-width: 767px) {
      margin-bottom: 1.25rem
    }
    @media all and (min-width: 768px) {
      margin-bottom: 1.5rem
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 1.5rem
    }
  }
  dt {
    font-weight: 500;
    padding-bottom: 5px;
    @media all and (max-width: 767px) {
      font-size: 1.25rem;
    }
    @media all and (min-width: 768px) {
      font-size: 1.625rem;
    }
    @media all and (min-width: 1280px) {
      font-size: 2rem;
    }
  }
  dd {
    padding-left: 1.75em;
    padding-bottom: 10px;
    table {
      width: calc(100% - 1.75em);
    }
    & + dt {
      @media all and (max-width: 767px) {
        padding-top: 14px;
      }
      @media all and (min-width: 768px) {
        padding-top: 18px;
      }
      @media all and (min-width: 1280px) {
        padding-top: 22px;
      }
    }
  }
  ul, ol {
    margin-left: 1.75em;
  }
  table {
    border: 2px solid #000000;
    box-sizing: border-box;
    caption {
      font-weight: 500;
    }
    th {
      font-weight: 500;
    }
    th, td {
      border: 1px solid #000000;
      padding: 15px;
    }
    caption, th {
      @media all and (max-width: 767px) {
        font-size: 100%;
      }
      @media all and (min-width: 768px) {
        font-size: 111.111%;
      }
      @media all and (min-width: 1280px) {
        font-size: 120%;
      }
    }
  }
  
  a {
    color: $taoyuan;
    border-bottom: 2px dotted $taoyuan;
    transition: border-bottom 0.3s, font-weight 0.3s;
    &:hover, &:focus,&:active {
      border-bottom: 2px solid $taoyuan;
      font-weight: 500;
    }
  }

  strong {
    font-weight: 500;
  }


  figure {
    margin: 1rem 0;
    text-align: center;
    div {
      padding: 1rem;
      @media all and (max-width: 767px) {
        display: block;
        text-align: center;
      }
      @media all and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }    
  }
  img {
    width: auto;
    max-width: 100%;
    margin: auto;
    @media all and (max-width: 767px) {      
      & + img {
        margin-top: 1rem;
      }
    }
    @media all and (min-width: 768px) {
      & + img {
        margin-left: 1rem;
      }
    }
  }
}

/*展覽內頁、出版查詢內頁*/
.tableContainer {
  @media all and (min-width: 960px) {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }
  @media all and (min-width: 960px) and (max-width: 1439px) {
    max-width: 376px;
  }
  @media all and (min-width: 1440px) {
    max-width: 509px;
  }

  & + div {
    @media all and (min-width: 960px) {
      display: inline-block;
      vertical-align: top;
      margin-left: 56px;
      margin-top: 0;
    }
    @media all and (min-width: 960px) and (max-width: 1107px) {
      width: calc(100% - 40% - 56px);
    }
    @media all and (min-width: 1108px) and (max-width: 1439px) {
      max-width: calc(100% - 376px - 56px);
    }
    @media all and (min-width: 1440px) and (max-width: 1596px) {
      max-width: calc(100% - 40% - 90px);
      margin-left: 90px;
    }
    @media all and (min-width: 1597px) and (max-width: 1800px) {
      max-width: calc(100% - 509px - 90px);
      margin-left: 90px;
    }
    @media all and (min-width: 1801px) {
      max-width: calc(100% - 509px - 155px);
      margin-left: 155px;
    }
    & > div {
      margin-top: 0;
    }
  }

  dl {
    @media all and (min-width: 960px) {
      margin-top: 29px;
    }
    @media all and (min-width: 1440px) {
      margin-top: 27px;
    }
    & + div {
      text-align: center;
      a {
        display: inline-block;
        width: auto;
        padding: 0 30px;
        background-color: #efefef;
        color: #282222;
        border-radius: 60px;
        text-align: center;
        transition: background-color 0.3s, color 0.3s;
        @media all and (max-width: 767px) {
          /* width: 173px; */
          height: 40px;
          line-height: 40px;
          margin: 18px auto 37px;
          font-size: 1rem;
        }
        @media all and (min-width: 768px) and (max-width: 1439px) {
          /* width: 230px; */
          height: 53px;
          line-height: 53px;
          margin: 27px auto 47px;
          font-size: 1.375rem;
        }
        @media all and (min-width: 1440px) {
          /* width: 260px; */
          height: 60px;
          line-height: 60px;
          margin: 44px auto;
          font-size: 1.625rem;
        }
        & > span {
          color: $taoyuan;
          display: inline-block;
          font-weight: 700;
          margin-right: 10px;
          vertical-align: bottom;
          transform: rotate(-45deg);
          transition: color 0.3s;
          @media all and (max-width: 767px) {
            font-size: 1.5rem;
          }
          @media all and (min-width: 768px) and (max-width: 1439px) {
            font-size: 2rem;
          }
          @media all and (min-width: 1440px) {
            font-size: 2.5rem;
          }
        }
        & > div {
          display: inline;
        }
        &:hover,
        &:focus,
        &:active {
          background-color: $taoyuan;
          color: #ffffff;
          span {
            color: #ffffff;
          }
        }
      }
    }
  }
}
.tablePublication {
  composes: tableContainer;
  dl {
    margin-top: 15px;
    @media all and (min-width: 768px) and (max-width: 959px) {
      margin-top: 29px;
    }
    @media all and (min-width: 960px) {
      margin-top: calc(29px + 27px);
    }
  }
}
.embed_container {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.287%;
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  iframe {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.publicationSlider {
  composes: embed_container;
  @media all and (min-width: 1440px) {
    padding-bottom: 40.351%;
  }
}

.otherPage {
  position: absolute;
  right: 0;
  z-index: 2;
  a {
    display: inline-block;
    border-radius: 36px;
    position: relative;
    margin-right: 9px;
    font-size: 0;
    text-indent: -500%;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #ffffff;
    @media all and (max-width: 767px) {
      display: none;
    }
    @media all and (min-width: 768px) and (max-width: 959px) {
      width: 25px;
      height: 25px;
      border: 2px solid #aaaaaa;
    }
    @media all and (min-width: 960px) {
      width: 36px;
      height: 36px;
      border: 3px solid #aaaaaa;
    }
    &::before {
      content: "";
      display: block;
      border-color: #aaaaaa;
      border-style: solid;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: border-color 0.3s;
      @media all and (min-width: 768px) and (max-width: 959px) {
        width: 6px;
        height: 6px;
        border-width: 0 2px 2px 0;
      }
      @media all and (min-width: 960px) {
        width: 9px;
        height: 9px;
        border-width: 0 3px 3px 0;
      }
    }
    &.prev::before {
      transform: rotate(135deg);
      right: 0;
      left: 5px;
    }
    &.next::before {
      transform: rotate(-45deg);
      right: 5px;
      left: 0;
    }
    &::after {
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      top: calc(100% + 7px);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 14px 8px;
      border-color: transparent transparent #707070 transparent;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $taoyuan;
      border-color: $taoyuan;
      &::before {
        border-color: #ffffff;
      }
      &::after {
        
        content: "";
      }
      & + span,
      & > span {
        background-color: #707070;
        color: #ffffff;
        display: block;
        height: auto;
        font-size: 1rem;
        text-indent: 0;
        @media all and (min-width: 768px) and (max-width: 959px) {
          padding: 9px 26px;
        }
        @media all and (min-width: 960px) {
          padding: 14px 42px;
        }
      }
    }
  }
  span {
    background-color: transparent;
    color: transparent;
    height: 0;
    /* display: block; */
    position: absolute;
    top: calc(100% + 18px);
    right: 0;
    border-radius: 10px;
    box-sizing: border-box;
    display: none;
    /* transition: background-color 0.3s, color 0.3s, height 0.3s; */
    @media all and (min-width: 768px) and (max-width: 959px) {
      width: 173px;
      padding: 0 26px;
    }
    @media all and (min-width: 960px) {
      width: 243px;
      padding: 0 42px;
    }
  }
  & + div {
    @media all and (min-width: 768px) and (max-width: 959px) {
      margin-top: 45px;
    }
    @media all and (min-width: 960px) {
      margin-top: 40px;
    }
  }
}
.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 248, 248, 0.9);
  display: none;
  .close {
    font-size: 0;
    position: fixed;
    top: 132px;
    right: 144px;
    &::before,
    &::after {
      content: "";
      width: 80px;
      height: 13px;
      display: block;
      border-radius: 3px;
      background-color: #282222;
      transform-origin: center center;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  div {
    width: auto;
    max-width: 80%;
    height: auto;
  }
}
.coverImg {
  width: 100%;
  text-align: center;
  @media all and (max-width: 767px) {
    margin-top: 16px;
  }
  @media all and (min-width: 768px) {
    margin-top: 20px;
  }
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin: auto;
  }
}
