.breadcrumbs,
.backHomeBtns {
  a {
    color: #180b12;
    transition: color 0.3s;

    &:hover,
    &:focus,
    &:active {
      color: #d71f85;
    }
  }
}

.articleTop {
  font-size: 1.125rem;
  text-align: right;

  @media all and (max-width: 767px) {
    margin-top: -45px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    margin-top: -55px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1920px) {
    margin-top: -45px;
    margin-bottom: 20px;
  }
  span + span {
    margin-left: 20px;
  }
}
.articleBottom {
  color: #180b12;
  font-size: 1.125rem;
  text-align: right;
}
.backHomeBtns {
  border-top: 1px solid #d1d1d1;
  text-align: right;
  a {
    padding: 0 12px;
    color: #180b12;
    font-size: 1.125rem;
    transition: color 0.3s;
    @media all and (max-width: 767px) {
      font-size: 0.875rem;
      text-align: center;
    }
    @media all and (min-width: 960px) {
      padding: 0 0 0 24px;
    }
    img {
      margin-right: 13px;
      vertical-align: text-bottom;
    }
    & + a {
      margin-left: 8px;
    }
    &:hover,
    &:focus,
    &:active {
      color: #d71f85;
    }
  }
}


.scrollTop {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 2;
  bottom: 50px;
  background: url("./images/scrollTop.svg") no-repeat 0 0;
  background-size: contain;
  font-size: 0;
  opacity: 0;
  transform-origin: center center;
  transform: scale(0.0);
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 50px;
  border: 1px solid #ffffff;
  pointer-events: none;
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.2);
  }
  @media all and (max-width: 767px) {
    width: 42px;
    height: 42px;
    right: 8px;
  }
  @media all and (min-width: 768px) and (max-width: 959px) {
    right: 21px;
  }
  @media all and (min-width: 960px) and (max-width: 1439px) {
    right: 30px;
  }
  @media all and (min-width: 1440px) {
    right: 47px;
  }
}
.scrollTopActive {
  composes: scrollTop;
  opacity: 1;
  transform: scale(1.0);
  pointer-events: auto;
}



@media all and (min-width: 768px) and (max-width: 959px) {
  .breadcrumbs {
    * {
      font-size: 1rem;
    }
  }
  .articleTop {
    font-size: 1rem;
  }
  .articleBottom {
    font-size: 1rem;
    text-align: center;
  }
  .backHomeBtns {
    text-align: center;
    a {
      font-size: 1rem;
      img {
        width: 18px;
      }
    }
  }
}

.breadcrumbs {
  padding-bottom: 10px;
  text-align: right;
  @media screen and (max-width: 959px) {
    padding-top: 13px;
  }
  * {
    font-size: 1.125rem;
  }
  a {
    display: inline-block;
    &:first-child {
      background: url("./images/btnHome.svg") no-repeat 0 center;
      background-size: 35%;
      padding-left: 30px;
    }
    & + a::before {
      content: "〉";
      padding-left: 9px;
      padding-right: 0;
      color: #666666;
      font-weight: 500;
    }
  }
  & > span {
    color: #666666;
    display: inline-block;
    &::before {
      content: "〉";
      padding-left: 9px;
      padding-right: 0;
      color: #666666;
      font-weight: 500;
    }
  }
}
@media all and (max-width: 767px) {
  .breadcrumbs {
    * {
      font-size: 0.875rem;
    }
    a {
      & + a::after {
        padding-left: 8px;
        padding-right: 3px;
      }
    }
    span{
      &::after {
        padding-left: 8px;
        padding-right: 3px;
      }
    }
  }
  .articleTop {
    font-size: 0.875rem;
  }

  .articleBottom {
    font-size: 0.875rem;
    text-align: center;
  }
  .backHomeBtns {
    text-align: center;
    a {
      font-size: 0.875rem;
      img {
        width: 18px;
      }
    }
  }
}

@media print {
  .backHomeBtns,
  .scrollTop {
    display: none;
  }
  .articleBottom {
    text-align: right;
  }
}
