@import '../../styles/global';


.card {
  margin: 50px;
  float: left;
  width: 70%;
  max-width: 780px;
  position: relative;
  background-image: linear-gradient(to top, #d09693 0%, #c71d6f 100%);
  cursor: pointer;
  margin: 200px 0px 200px 200px;
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  display: inline-block;
  // padding: 60px;
  &:hover{
    // transform:scale(1.1,1.1);
    box-shadow:3px 3px 10px 7px #cccccc;
    
    img {
      box-shadow:3px 3px 12px  #e7adaddc;
      transform:translateY(-27%);
    }
  }

}

.card h1 {
  position: relative;
  padding: 250px 800px 0px 0px;
  width: 90%;
  transform: translate3d(20%, 0px, 0px);  
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

.card h2 {
  position: absolute;
  top : 150px;
  left: 130px;
  width: 50%;
  transform: translate3d(20%, 0px, 0px);  
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}



.card > img {
  width: 70%;
  position: absolute;
  top: -15%;
  left: 15%;
  z-index: 1;
  // padding:5px;
  border-radius: 20px;
  transition: transform 0.4s ease-out;    
  // transform: translate(0%, 150%);
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}
